.addOneProduct{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #fff;
    z-index: 99999;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    padding: 0 20px;
    padding-top: 50px;
    transform: translateX(110%);
    transition: 0.3s linear;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
.divFire {
    grid-column: span 2 / span 2;
}
.fa-power-off{
    color: orange;
    cursor: pointer;
}
